<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Basics</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="app.js" defer></script>
</head>

<body>
  <header>
    <h1>Vue Course Goals</h1>
  </header>
  <section id="user-goals">
    <h2>My course goals</h2>
    <input type="text" v-model="goalVal" />
    <button @click="addGoal">Add Goal</button>

    <p v-if="goals.length === 0">No goals have been added yet - please start adding some!</p>
    <!--won't add this paragraph if there are any goals-->
    <ul v-else>
      <!--should be used on element that comes directly after v-if -->
      <!-- standard <li v-for="goal in goals">{{ goal }}</li> -->
      <li v-for="(goal, index) in goals" :key="goal" @click="removeGoal(index)">
        <!--add key for v-for so Vue will see the differeces between li items. Otherwise Vue on delete will take the dynamic content of the next item and place it instead of the deleted one -->
        <p>Removable: {{ goal }} - {{index}}</p>
        <input type="text" @click.stop/> <!--stop propagation as othererwise on keydown li will be removed-->
      </li>
    </ul>
    <!-- you can use v-else-if after v-if
        <p v-else-if="goals.length > 0">Attached text if any goal</p> -->
    <hr />
    <div v-show="goals.length > 0">Hidden element</div>

    <hr />

    <ul>
      <!-- standard <li v-for="value in myObj">{{value}}</li> -->
      <li v-for="(value, key, index) in myObj">{{key}}:{{value}} - {{index}}</li>
    </ul>

    <hr />

    <ul>
      <li v-for="num in 4">{{num}}</li>
    </ul>
  </section>
</body>

</html>